

.logo{
    align-items: center;
    display: flex;
}

footer{
    text-align: center;
    margin-bottom: 20px;
}

.leftContainer{
    padding-top: 20px;
    width:400px;
    float: left;
    margin-bottom: 30px;
}
.carousel{
    float: left;
    width: 400px;

}
.topNewsList{
    float: left;
    text-align: center;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.topNewsListCard{
    margin-bottom: 10px;
}